
*
{
    font-family: Quicksand;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #BAB9CB;
}



.form--box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 500px;
    height: 790px;
    padding: 20px;
    border: 10px solid #210124;
}

h1
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: #210124;
}

label
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #210124;
}


input
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #9C8AB3,#7E5A9B);
    border: 5px solid #210124;
    color: #210124;
}

textarea
{
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #210124;
}

button
{
    width: 100px;
    height: 50px;
    border: 5px solid #210124;
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 40%;
}

button:hover
{
    width: 100px;
    height: 50px;
    border: 5px solid #210124;
    background-color: #7E5A9B;
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 40%;
}